/* Common button style */
.custom-btn {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.55em 0.9em; /* Smaller padding for smaller size */
  padding-right: 1em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 600;
  border-radius: 2em;
  font-size: 0.9rem; /* Slightly smaller text */
  box-shadow: 0 0.5em 1em -0.5em rgba(13, 191, 226, 0.7);
  transition: transform 0.3s;
  background: linear-gradient(
    90deg,
    rgba(13, 191, 226, 1) 0%,  /* #0dbfe2 */
    rgba(7, 129, 153, 1) 100%  /* Darker blue tone */
  );
}

.custom-btn__icon {
  width: 1.3em;
  height: 1.3em;
}

.custom-btn:hover {
  border-color: #f4f5f2;
}

.custom-btn:active {
  transform: scale(0.97);
  box-shadow: 0 0.4em 0.9em -0.5em rgba(13, 191, 226, 0.7);
}
a {
  display: inline-block;
}